/*
*
{
 border: 1px solid blue;
}
*/
:root
{
 --blue-grey: rgb(138, 175, 186);
}
body
{
 font-size:20px;
 background-color: var(--blue-grey);
}
@font-face
{
 font-family:'Hubballi';
 scr:url('css/fonts/Hubballi-Regular.ttf') format('truetype');
}
body
{
  font-family:Hubballi-Regular;
}
h1
{
  font-size:35px;
}
h2
{
  font-size:25px;
}
h3
{
  font-size:18px;
}
img
{
 width=500px
}
iframe
{
 width="1060" height="615"
}
