@font-face
{
	font-family:'Hubballi';
	src:url('bacs200/css/Fonts/Hubballi-Regular.ttf') format('truetype');
}

p, h1, h2, h3
{
	font-family:'Hubballi';
}

body
{
    background-color:#b7c5c7;
}

iframe
{
    width:70%;
    height:500px;
}
