*
{
 font-size:20px;
 background-color: rgb(184,204,222);
 font-family:'Hubballi';
 scr:url (bacs200/css/fonts/Hubballi-Regular.ttf) format('truetype');
}
*
{
 font-family:'Hubballi';
}
h1
{
  font-size:35px;
}
h2
{
  font-size:25px;
}
h3
{
  font-size:18px;
}
img
{
 width=500px
}
iframe
{
 width="1060" height="615"
}
